.App {
  text-align: center;
}

/* Mega Menu Open Animation */
.megaMenuAnimation {
  animation: openMegaMenu 1s ease-in-out;
}
@keyframes openMegaMenu {
  0% {
    margin-top: -50%;
  }
  100% {
    margin-top: 0;
  }
}

/* Slider Background */

.slider-bg {
  background-image: url("./Assets/Images/Slider/slider-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
}

.slider-bg2 {
  background-image: url("./Assets/Images/Slider/slider-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
}

.slider-bg3 {
  background-image: url("./Assets/Images/Slider/Slider-3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh;
}

/* Dashboard Heading Title */

.headingTitle h3:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: #2563eb;
  content: "";
  display: block;
}

.headingTitle h3:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 12px;
  background: black;
  content: "";
  display: block;
}
